<section>
    <div class="login mesagepage">

        <div class="container">
            <div class="login-container newlog log_in_define">
                <div class="col-md-12">
                    <input type="hidden" name="success" id="success" value="">
                    <h2 class="title-log" style="color: #2BDE73;">{{'CONTACT US' | translate}}</h2>
                    <form name="form" id="contactus" method="post" action="postcontactus">
                        <ol class="login-form">
                            <li class="li1">
                                <input id="user_session_email" class="input-text full-width js-auto_focus email form-control" type="text" placeholder="Enter your name" name="username" autofocus="autofocus" value="" required="">

                            </li>


                            <li class="li1">
                                <input id="user_session_email" class="input-text full-width js-auto_focus email form-control" type="email" placeholder="Enter your Email" name="email" autofocus="autofocus" value="" required="">

                            </li>

                            <li class="li1">
                                <input id="user_session_email" class="input-text full-width js-auto_focus email form-control" type="text" placeholder="Enter your Phone Number" name="mobile" autofocus="autofocus" value="" required="">

                            </li>


                            <li class="li1">
                                <input id="user_session_email" class="input-text full-width js-auto_focus email form-control" type="text" placeholder="Enter your Subject" name="subject" autofocus="autofocus" value="" required="">

                            </li>

                            <li class="li1 full-width">
                                <textarea class="input-text full-width form-control " name="message" id="message" placeholder="Enter your Message" required=""></textarea>

                            </li>


                            <li class="clearfix restlv">

                                <div class="btncorenrt">
                                    <input class="button button_green submit" id="sendbtn" type="submit" value="Send" name="commit">
                                </div>
                            </li>
                        </ol>
                    </form>

                </div>


            </div>
        </div>
</div></section>
